* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}



.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;

}

.navbar__brand {
    width: 100px
}

.navbar__logo {
    width: 100%;
}

.button__primary {
    background-image: linear-gradient(to right,
            #ff512f 0%,
            #dd2476 51%,
            #ff512f 100%);
    color: #fff;
    border: none;
    margin-left: 10px;
    padding: 12px;
    border-radius: 6px;
}

.button__primary:hover {
    border: 2px solid #ff6767;
    cursor: pointer;
}

.container {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.hero__image__container {
    width: 100%;

}

.hero__image {
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}

.hero__text {
    font-weight: 800;
    font-size: 32px;
    margin: 20px;
    color: #1d3557;
}

.menu__card__description {
    padding: 15px;
}

.food__menu__card {
    width: 100%;
    background-image: linear-gradient(to bottom,
            #ff522f16 0%,
            #F0F8FF 40%,
            #F0F8FF 100%);
    ;

    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
    margin-bottom: 20px;
}

.food__card__image__container {
    width: 100%;
}

.food__image {
    border-radius: 8px 8px 0 0;
    outline: #ff512f;
    width: 100%;
}

.explore__menu__text {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    color: #1d3557;
}



.search__text {
    text-align: center;
    font-weight: 800;
    font-size: 32px;
    margin: 20px;
    color: #1d3557;

}

.search__mail__container {
    margin-top: 20px;
    text-align: center;
}

.search__mail__box {
    border : 2px groove #d28a41;
    border-radius: 4px;
    padding: 5px;
}

.quote__section {
    margin-top: 30px;
    width:100%;
    display: flex;
    justify-content: center;
}

.food__quote__section{

    width:100%;

}

.food__quote__image{
    width:100%;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}

.footer__section {
    width:100%;
    padding-top: 20px;
    display: flex;
    background-image: linear-gradient(to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%);
    flex-direction: column;
    align-items: center;
    border-radius: 12px 12px 0 0;

}

.footer__logo__section {
    width:30%;

}

.footer__image {
    width: 100%;
}

.footer__description__section {
    margin-top: 10px;
    margin-bottom: 20px;
    width:100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer__para {
    padding: 3px;
    color: #ebf2ff;
    text-decoration: none;
    font-size: 10px;
}


@media (min-width :768px) {

    .footer__logo__section {
            width: 25%;
    }

    .footer__para {
        padding: 10px;
        font-size: 17px;
    }

    .food__quote__section{

        width:80%;
    
    }

    .search__text{
        font-size: 35px;
    }

    .search__section{
        margin-top: 80px;
    }

    .search__main__mail__container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .explore__menu__container {
        margin-top: 70px;
        position: relative;
    }

    .explore__menu__gradient__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right,
                #ff512f 0%,
                #dd2476 51%,
                #ff512f 100%);
        z-index: -3;
        transform: skewY(-5deg);
    }


    #pizza__card {
        margin-top: -20px;
    }

    .explore__menu__lists {
        margin-top: 40px;
        display: flex;
        gap: 15px;
        padding: 0 40px;
    }

    .navbar {
        justify-content: space-between;
        padding: 10px 30px;
    }

    .hero__container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 20px;
    }
}

@media (min-width : 1024px) {

    .footer__para {
        padding: 1px;
    }

    .footer__description__section {
        width:15%;
        display: flex;
        flex-direction: column;
    }

    .footer__logo__section {
        width:15%;
        display: flex;
        justify-content: center;
    }

    .footer__section {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
    }

    .food__quote__section{
        width:80%;
    }

    .search__mail__box {
        padding: 10px;
        width: 300px;
    }

    .search__text{
        font-size: 50px;
    }

    .food__menu__card {
        height: 90%;
    }

    .explore__menu__text {
        font-size: 45px;
        margin-top: 70px;
        margin-bottom: 60px;
    }

    .explore__menu__lists {
        gap: 25px;
    }

    .explore__menu__container {
        margin-top: 100px;
    }

    .container {
        width: 70%;
    }

    .navbar__brand {
        width: 150px;
    }

    .button__primary {
        padding: 20px;
        font-size: 20px;
        font-weight: 600;
    }

    .hero__description {
        width: 100%;
    }

    .hero__text {
        font-size: 50px;
    }
}